<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="all" data-th-href="@{/css/estilo.css}"/>
    <title>erro 404</title>
</head>
<body>
<div class="container">
    <p class="destaque">Erro 500</p>
    <p>Erro interno do servidor</p>
    <p><a href="/">Voltar para página inicial</a></p>
</div>
</body>
</html>