.container {
  position: relative;
  padding: 1% 5% 5%;
}

ul {
  list-style: none;
  color: #cccccc;
}

ul li::before {
  content: "\2B2B";
  color: white;
  font-weight: normal;
  display: inline-block;
  width: 2em;
  margin-left: -1em;
  margin-bottom: 5px;
}

	* {background-color: #222222}
	* {font-family: monospace}

h1.cab1 {
	font-weight: normal;
	color: #ffbe6f; !important
	font-size: 25px;
	text-align: center;
}

h2.cab2 {
	font-weight: bold;
	color: #ffbe6f;
	font-size: 15px;
	text-align: center;
}

h3.cab3 {
	font-weight: bold;
	color: #ffbe6f;
	font-size: 13px;
	text-align: left;
}

.input-botao {
	color: white;
}

.destaque {
    padding-left: 1%;
	font-size: 18px;
	font-weight: bold;
	opacity: 0.5;
	transition: 1000ms;
	color: #B9B9B9
}

.destaque:hover {
	opacity: 0.8;
	color: #ffbe6f;
}

em {
	color: #B9B9B9
}

pre {
	color: #B9B9B9
}

p {
	color: #cccccc;
}

p.data {
	font-size: 13px;
	text-align: right;
	color: #3C3C3C
}

a {
	text-decoration: underline dotted #3C3C3C;
	color: #ffbe6f;
}

a:hover {
	color: #ff7800;
	transition: 1000ms;
}
